# Dependencies
node_modules/
**/node_modules/

# MacOS artifacts
.DS_Store

# Local development artifacts
server-dev.log
server/local-pg/

# Ignore nested repos/worktrees
/attendance-system/
/integrate-worktree/
/main-merge/
